{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Admin' %}

{% block pageContent %}  
            <div class="subnavbar">  
                <div class="subnavbar-inner">  
                    <div class="container">  
			<a class="btn-subnavbar collapsed" data-toggle="collapse" data-target=".subnav-collapse">
				<i class="icon-reorder"></i>
			</a>

			<div class="subnav-collapse collapse">
				<ul class="mainnav">
					<li>
						<a href="{{ path('realestate') }}browse?page=1">
							<i class="icon-home"></i>
							<span>Home</span>
						</a>	    				
					</li>
                                        <li>  
                                                <a href="{{ path('add') }}">
                                                        <i class="icon-plus"></i>
                                                        <span>Add immo</span>
                                                </a>     
                                        </li> 
                                        <li class="active">  
                                                <a href="{{ path('profile') }}">
                                                        <i class="icon-user"></i>
                                                        <span>Profile</span>
                                                </a>     
                                        </li> 
                                        <li>  
                                                <a href="{{ path('logout') }}" onclick="return confirm('Are you sure you want to log out?')" >
                                                        <i class="icon-signout "></i>
                                                        <span>Logout</span>
                                                </a>     
                                        </li> 
                                </ul>   
                                 <ul class="subnav pull-right" style="color: white;">			
                                    <i class="icon-user"></i>  <strong>{{ user|capitalize }}</strong>                                          
                                </ul> 
                                
                        </div> 
                            
                    </div>     
                </div>     
            </div>     
                
                        
            
            
            <div class="main">
                <div class="container">
                    <div class="row">      	
                        <div class="span12">      		
                            <div class="widget stacked">					
				<div class="widget-header">
					<i class=" icon-edit  "></i>
					<h3>Edit {{ profile.Company_name }}!</h3>
				</div> <!-- /widget-header -->
				
				<div class="widget-content">	
                                        <form action="#" method="post" {{ form_enctype(profileform) }} novalidate="novalidate">
                                            <dl class="clearfix">
                                                <div class="floatLeft extraTop">                                                        
                                                    <div class="formItem">
                                                        <dt>
                                                                {{ form_label(profileform.Company_name) }}
                                                        </dt>
                                                        <dd>
                                                                {{ form_widget(profileform.Company_name) }}
                                                                {{ form_errors(profileform.Company_name) }}
                                                        </dd>
                                                    </div>  
                                                                                                             
                                                    <div class="formItem">
                                                        <dt>
                                                                {{ form_label(profileform.Contact_name) }}
                                                        </dt>
                                                        <dd>
                                                                {{ form_widget(profileform.Contact_name) }}
                                                                {{ form_errors(profileform.Contact_name) }}
                                                        </dd>
                                                    </div>  
                                                                                                             
                                                    <div class="formItem">
                                                        <dt>
                                                                {{ form_label(profileform.Email) }}
                                                        </dt>
                                                        <dd>
                                                                {{ form_widget(profileform.Email) }}
                                                                {{ form_errors(profileform.Email) }}
                                                        </dd> 
                                                    </div>    
                                                                                                             
                                                    <div class="formItem">
                                                        <dt>
                                                                {{ form_label(profileform.Telephone) }}
                                                        </dt>
                                                        <dd>
                                                                {{ form_widget(profileform.Telephone) }}
                                                                {{ form_errors(profileform.Telephone) }}
                                                        </dd>
                                                    </div>  
                                                                                                             
                                                    <div class="formItem">
                                                         <dt>
                                                                {{ form_label(profileform.Website) }}
                                                        </dt>
                                                        <dd>
                                                                {{ form_widget(profileform.Website) }}
                                                                {{ form_errors(profileform.Website) }}
                                                        </dd>
                                                    </div>  
                                                                                                             
                                                    <div class="formItem">                                                        
                                                        <dt>
                                                                {{ form_label(profileform.Address_street) }}
                                                        </dt>
                                                        <dd>
                                                                {{ form_widget(profileform.Address_street) }}
                                                                {{ form_errors(profileform.Address_street) }}
                                                        </dd>
                                                    </div>  
                                                                                                             
                                                    <div class="formItem">
                                                         <dt>
                                                                {{ form_label(profileform.Address_city) }}
                                                        </dt>
                                                        <dd>
                                                                {{ form_widget(profileform.Address_city) }}
                                                                {{ form_errors(profileform.Address_city) }}
                                                        </dd>
                                                    </div>  
                                                </div>
                                                    
                                                <div style="float: left; padding-right: 25px;"> 
                                                    <img src="{{ app.request.baseUrl }}/img/logos/{{ url }}.jpg" alt="Logo company" style="max-height: 50px;"/>
                                                </div> 
                                                <dt>
                                                        {{ form_label(profileform.Fileupload) }}
                                                </dt>
                                                <dd class="extraBot">
                                                        {{ form_widget(profileform.Fileupload) }}
                                                        {{ form_errors(profileform.Fileupload) }}
                                                </dd>
                                                <dt class="extraTop">
                                                        {{ form_label(profileform.Description) }}
                                                </dt>
                                                <dd>
                                                        {{ form_widget(profileform.Description) }}
                                                        {{ form_errors(profileform.Description) }}
                                                </dd>
                                                
                                                
                                                <dt>
                                                        &nbsp;
                                                </dt>
                                                <dd>
                                                        {{ form_widget(profileform._token) }}
                                                        <input type="submit" name="submit" class="btn" value="Edit" />
                                                </dd>
                                            </dl>
                                        </form>  
				</div> <!-- /widget-content -->
                            </div> <!-- /widget -->
                        </div>                        
                    </div> 
                </div> 
            </div> 
             
             <div class="extra">
                    <div class="container">
                            <div class="row">			
                                    <div class="span3">				
                                            <h4>My immo</h4>				
                                            <ul>
                                                    <li><a href="{{ path('realestate') }}">See my real estate</a></li>
                                                    <li><a href="{{ path('add') }}">Add real estate</a></li>
                                            </ul>				
                                    </div> <!-- /span3 -->

                                    <div class="span3">				
                                            <h4>My profile</h4>				
                                            <ul>
                                                    <li><a href="{{ path('profile') }}">See my profile</a></li>
                                                    <li><a href="{{ path('profileEdit') }}">Edit my profile</a></li>
                                            </ul>				
                                    </div> <!-- /span3 -->

                                    <div class="span3">				
                                            <h4>Logout</h4>				
                                            <ul>
                                                    <li><a href="{{ path('logout') }}" onclick="return confirm('Are you sure you want to log out?')" >Goodbye</a></li>
                                            </ul>				
                                    </div> <!-- /span3 -->

                            </div> <!-- /row -->
                    </div> <!-- /container -->
            </div> <!-- /extra -->      
{% endblock %}
        