{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Admin' %}

{% block pageContent %}
        <div id="AdminMain" class="clearfix">  
            <p>Welcome <strong>{{ user|capitalize }}</strong></p>
            
            <div id="AdminLeftBar" class="clearfix">  
                <h2><a href="{{ path('admin') }}" >Board</a></h2> 
                <h2><a href="{{ path('internships') }}" class="active" >Internships</a></h2>     
                <h2><a href="{{ path('addInternship') }}">Add internship</a></h2>  
                <h2><a href="{{ path('profile') }}">Profile</a></h2> 
                <h2><a href="{{ path('logout') }}">Logout</a></h2>    
            </div>   
            
            <div id="AdminRightBar" class="clearfix">                
                {% if internship %}
                <h2><a href="{{ path('internships') }}details?id={{ internship.id }}">{{ internship.title }}</a></h2>  
                    <ul class="clearfix">                            
                            <li class="AdminStage">   
                                <h3>You are about to delete this internship.</h3>
                                <h4>Are you sure?</h4>
                                
                                <form action="#" method="post" {{ form_enctype(deleteform) }} novalidate="novalidate">
                                    <dl class="clearfix">
                                                <dd>
                                                {{ form_widget(deleteform._token) }}
                                                <input type="submit" name="submit" class="btn" value="Yes, delete" />
                                        </dd>
                                    </dl>
                                </form>                                  
                            </li>                           
                    </ul>
		{% else %}          
                    <p>No internships to show!</p>
		{% endif %}                     
            </div>             
            
        </div>         
{% endblock %}
        