{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Admin' %}

{% block pageContent %}
        <div id="AdminMain" class="clearfix">  
            <p>Welcome <strong>{{ user|capitalize }}</strong></p>
            
            <div id="AdminLeftBar" class="clearfix">  
                <h2><a href="{{ path('admin') }}">Board</a></h2> 
                <h2><a href="{{ path('internships') }}" class="active">Internships</a></h2>     
                <h2><a href="{{ path('addInternship') }}">Add internship</a></h2>  
                <h2><a href="{{ path('profile') }}">Profile</a></h2> 
                <h2><a href="{{ path('logout') }}">Logout</a></h2>    
            </div>   
            
            <div id="AdminRightBar" class="clearfix">  
                <h2 id="login">Enter data:</h2>                 
                
                <form action="#" method="post" {{ form_enctype(editform) }} novalidate="novalidate">
                    <dl class="clearfix">
			<dt>
				{{ form_label(editform.Title) }}
			</dt>
			<dd>
				{{ form_widget(editform.Title) }}
				{{ form_errors(editform.Title) }}
			</dd>
                        <dt>
				{{ form_label(editform.available) }}
			</dt>
			<dd>
				{{ form_widget(editform.available) }}
				{{ form_errors(editform.available) }}
			</dd>
                        <dt>
				{{ form_label(editform.Location_street) }}
			</dt>
			<dd>
				{{ form_widget(editform.Location_street) }}
				{{ form_errors(editform.Location_street) }}
			</dd>    
                        <dt>
				{{ form_label(editform.Location_city) }}
			</dt>
			<dd>
				{{ form_widget(editform.Location_city) }}
				{{ form_errors(editform.Location_city) }}
			</dd>
                        <dt>
				{{ form_label(editform.Location_country) }}
			</dt>
			<dd>
				{{ form_widget(editform.Location_country) }}
				{{ form_errors(editform.Location_country) }}
			</dd>                              
                        <dt>
				{{ form_label(editform.Description) }}
			</dt>
			<dd>
				{{ form_widget(editform.Description) }}
				{{ form_errors(editform.Description) }}
			</dd>
                        <dt>
				{{ form_label(editform.Qualifications) }}
			</dt>
			<dd>
				{{ form_widget(editform.Qualifications) }}
				{{ form_errors(editform.Qualifications) }}
			</dd>
                         <dt>
				{{ form_label(editform.Date_expires) }}
			</dt>
			<dd>
				{{ form_widget(editform.Date_expires) }}
				{{ form_errors(editform.Date_expires) }}
			</dd>
                        <dt>
				{{ form_label(editform.Sector) }}
			</dt>
			<dd>
				{{ form_widget(editform.Sector) }}
				{{ form_errors(editform.Sector) }}
			</dd>
                        <dt>
				{{ form_label(editform.Diploma) }}
			</dt>
			<dd>
				{{ form_widget(editform.Diploma) }}
				{{ form_errors(editform.Diploma) }}
			</dd>
                         <dt>
				{{ form_label(editform.Year) }}
			</dt>
			<dd>
				{{ form_widget(editform.Year) }}
				{{ form_errors(editform.Year) }}
			</dd>
			<dt>
				&nbsp;
			</dt>
			<dd>
				{{ form_widget(editform._token) }}
                                <input type="submit" name="submit" class="btn" value="Edit" />
                                <input type="submit" name="delete" class="btn" value="Delete" />
			</dd>
                    </dl>
                </form>  
            </div>	               
            
        </div>         
{% endblock %}
        