{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Admin' %}

{% block pageContent %}  
            <div class="subnavbar">  
                <div class="subnavbar-inner">  
                    <div class="container">  
			<a class="btn-subnavbar collapsed" data-toggle="collapse" data-target=".subnav-collapse">
				<i class="icon-reorder"></i>
			</a>

			<div class="subnav-collapse collapse">
				<ul class="mainnav">
					<li class="active">
						<a href="{{ path('realestate') }}">
							<i class="icon-home"></i>
							<span>Home</span>
						</a>	    				
					</li>
                                        <li>  
                                                <a href="{{ path('addInternship') }}">
                                                        <i class="icon-plus"></i>
                                                        <span>Add immo</span>
                                                </a>     
                                        </li> 
                                        <li>  
                                                <a href="{{ path('profile') }}">
                                                        <i class="icon-user"></i>
                                                        <span>Profile</span>
                                                </a>     
                                        </li> 
                                        <li>  
                                                <a href="{{ path('logout') }}" onclick="return confirm('Are you sure you want to log out?')" >
                                                        <i class="icon-signout "></i>
                                                        <span>Logout</span>
                                                </a>     
                                        </li> 
                                </ul>   
                                 <ul class="subnav pull-right" style="color: white;">			
                                    <i class="icon-user"></i>  <strong>{{ user|capitalize }}</strong>                                          
                                </ul> 
                                
                        </div> 
                            
                    </div>     
                </div>     
            </div>     
                
                        
            
            
            <div class="main">
                <div class="container">
                    <div class="row">      	
                        <div class="span9">      		
                            <div class="widget stacked">					
				<div class="widget-header">
					<i class="icon-list "></i>
					<h3>My real estate</h3>
				</div> <!-- /widget-header -->
				
				<div class="widget-content">
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>Name</th>
								<th>Type</th>
								<th>Price</th>
								<th class="td-actions"></th>
							</tr>
						</thead>
						<tbody>
							{% if internships %}
                                                            {% for internship in internships %}
                                                                    <tr>
                                                                        <td>{{ internship.title }}</td>
                                                                        <td>{{ internship.sector }}</td>
                                                                        <td>{{ internship.diploma }}</td>
                                                                        <td class="td-actions">
                                                                                <a href="javascript:;" class="btn btn-small btn-warning">
                                                                                        <i class="btn-icon-only icon-edit"></i>Edit									
                                                                                </a>

                                                                                <a href="javascript:;" class="btn btn-small">
                                                                                        <i class="btn-icon-only icon-remove"></i>Delete									
                                                                                </a>
                                                                        </td>
                                                                    </tr>
                                                            {% endfor %}
                                                        {% else %}          
                                                            <p>No internships to show!</p>
                                                        {% endif %}  
						</tbody>
					</table>
				</div> <!-- /widget-content -->
                            </div> <!-- /widget -->
                        </div>
                        <div class="span3">      		
                            <div class="widget stacked">					
				<div class="widget-header">
					<i class="icon-search  "></i>
					<h3>Filter</h3>
				</div> <!-- /widget-header -->
				
				<div class="widget-content">
                                    <form class="navbar-search pull-right">
                                        <input type="text" class="search-query" placeholder="Search" style="width: 150px;">
                                        <input class="btn btn-small btn-warning" type="submit" name="submit" value="Go!" />
                                    </form>                                    
				</div> <!-- /widget-content -->
                            </div> <!-- /widget -->
                        </div>
                    </div> 
                </div> 
            </div> 
             
            
              <div class="extra">
                    <div class="container">
                            <div class="row">			
                                    <div class="span3">				
                                            <h4>My immo</h4>				
                                            <ul>
                                                    <li><a href="{{ path('realestate') }}">See my real estate</a></li>
                                                    <li><a href="{{ path('addInternship') }}">Add real estate</a></li>
                                            </ul>				
                                    </div> <!-- /span3 -->

                                    <div class="span3">				
                                            <h4>My profile</h4>				
                                            <ul>
                                                    <li><a href="{{ path('profile') }}">See my profile</a></li>
                                                    <li><a href="{{ path('profile') }}">Edit my profile</a></li>
                                            </ul>				
                                    </div> <!-- /span3 -->

                                    <div class="span3">				
                                            <h4>Logout</h4>				
                                            <ul>
                                                    <li><a href="{{ path('logout') }}" onclick="return confirm('Are you sure you want to log out?')" >Goodbye</a></li>
                                            </ul>				
                                    </div> <!-- /span3 -->

                            </div> <!-- /row -->
                    </div> <!-- /container -->
            </div> <!-- /extra -->      
{% endblock %}
        