{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Admin' %}

{% block pageContent %}  
            <div class="subnavbar">  
                <div class="subnavbar-inner">  
                    <div class="container">  
			<a class="btn-subnavbar collapsed" data-toggle="collapse" data-target=".subnav-collapse">
				<i class="icon-reorder"></i>
			</a>

			<div class="subnav-collapse collapse">
				<ul class="mainnav">
					<li>
						<a href="{{ path('realestate') }}browse?page=1">
							<i class="icon-home"></i>
							<span>Home</span>
						</a>	    				
					</li>
                                        <li class="active">  
                                                <a href="{{ path('add') }}">
                                                        <i class="icon-plus"></i>
                                                        <span>Add immo</span>
                                                </a>     
                                        </li> 
                                        <li>  
                                                <a href="{{ path('profile') }}">
                                                        <i class="icon-user"></i>
                                                        <span>Profile</span>
                                                </a>     
                                        </li> 
                                        <li>  
                                                <a href="{{ path('logout') }}" onclick="return confirm('Are you sure you want to log out?')" >
                                                        <i class="icon-signout "></i>
                                                        <span>Logout</span>
                                                </a>     
                                        </li> 
                                </ul>   
                                 <ul class="subnav pull-right" style="color: white;">			
                                    <i class="icon-user"></i>  <strong>{{ user|capitalize }}</strong>                                          
                                </ul> 
                                
                        </div> 
                            
                    </div>     
                </div>     
            </div>     
                
                        
            
            
            <div class="main">
                <div class="container">
                    <div class="row">      	
                        <div class="span12">      		
                            <div class="widget stacked">					
				<div class="widget-header">
					<i class=" icon-pencil "></i>
					<h3>Add new real estate!</h3>
				</div> <!-- /widget-header -->
				
				<div class="widget-content">	
                                        <form action="#" method="post" {{ form_enctype(addform) }} novalidate="novalidate">
                                                <dl class="clearfix">
                                                    <dt>
                                                            {{ form_label(addform.Name) }}
                                                    </dt>
                                                    <dd>
                                                            {{ form_widget(addform.Name) }}
                                                            {{ form_errors(addform.Name) }}
                                                    </dd>
                                                    <dt>
                                                            {{ form_label(addform.Available) }}
                                                    </dt>
                                                    <dd>
                                                            {{ form_widget(addform.Available) }}
                                                            {{ form_errors(addform.Available) }}
                                                    </dd>
                                                    <div class="floatLeft extraTop">                                                        
                                                        <div class="formItem">
                                                            <dt>
                                                                    {{ form_label(addform.Date_available) }}
                                                            </dt>
                                                            <dd>                                                                
                                                                    {{ form_widget(addform.Date_available) }}
                                                                    {{ form_errors(addform.Date_available) }}
                                                            </dd>                                                            
                                                        </div>
                                                        <div class="formItem">
                                                            <dt>
                                                                    {{ form_label(addform.State) }}
                                                            </dt>
                                                            <dd>
                                                                    {{ form_widget(addform.State) }}
                                                                    {{ form_errors(addform.State) }}
                                                            </dd>
                                                        </div>
                                                        <div class="formItem">
                                                            <dt>
                                                                {{ form_label(addform.Type) }}
                                                            </dt>
                                                            <dd>
                                                                {{ form_widget(addform.Type) }}
                                                                {{ form_errors(addform.Type) }}
                                                            </dd>
                                                        </div>
                                                        <div class="formItem">
                                                            <dt>
                                                                {{ form_label(addform.Province) }}
                                                            </dt>
                                                            <dd>
                                                                {{ form_widget(addform.Province) }}
                                                                {{ form_errors(addform.Province) }}
                                                            </dd>
                                                        </div>
                                                        <div class="formItem">
                                                            <dt>
                                                                {{ form_label(addform.Price) }}
                                                            </dt>
                                                            <dd>
                                                                {{ form_widget(addform.Price) }}
                                                                {{ form_errors(addform.Price) }}
                                                            </dd> 
                                                        </div>
                                                        <div class="formItem">
                                                            <dt>
                                                                {{ form_label(addform.Size) }}
                                                            </dt>
                                                            <dd>
                                                                {{ form_widget(addform.Size) }}
                                                                {{ form_errors(addform.Size) }}
                                                            </dd> 
                                                        </div>
                                                        <div class="formItem">
                                                            <dt>
                                                                {{ form_label(addform.Bedrooms) }}
                                                            </dt>
                                                            <dd>
                                                                {{ form_widget(addform.Bedrooms) }}
                                                                {{ form_errors(addform.Bedrooms) }}
                                                            </dd>
                                                        </div>
                                                        <div class="formItem">
                                                            <dt>
                                                                {{ form_label(addform.Buildyear) }}
                                                            </dt>
                                                            <dd>
                                                                {{ form_widget(addform.Buildyear) }}
                                                                {{ form_errors(addform.Buildyear) }}
                                                            </dd>
                                                        </div>
                                                        <div class="formItem">
                                                            <dt>
                                                                    {{ form_label(addform.Location_street) }}
                                                            </dt>
                                                            <dd>
                                                                    {{ form_widget(addform.Location_street) }}
                                                                    {{ form_errors(addform.Location_street) }}
                                                            </dd>  
                                                        </div>  
                                                        <div class="formItem">
                                                            <dt>
                                                                    {{ form_label(addform.Location_City) }}
                                                            </dt>
                                                            <dd>
                                                                    {{ form_widget(addform.Location_City) }}
                                                                    {{ form_errors(addform.Location_City) }}
                                                            </dd>   
                                                        </div>  
                                                    </div>          
                                                    <dt class="Descr">
                                                            {{ form_label(addform.Description) }}
                                                    </dt>
                                                    <dd class="mcs-custom">
                                                            {{ form_widget(addform.Description) }}
                                                            {{ form_errors(addform.Description) }}
                                                    </dd>                                                    
                                                    <dt>
                                                            {{ form_label(addform.files) }}
                                                    </dt>
                                                    <dd>
                                                            {{ form_widget(addform.files,  { 'full_name': addform.files.vars['full_name'] ~ '[]' }) }}
                                                            {{ form_errors(addform.files) }}
                                                            {{ form_rest(addform) }}
                                                    </dd>
                                                    <dt>
                                                    <dt>
                                                            &nbsp;
                                                    </dt>
                                                    <dd>
                                                            {{ form_widget(addform._token) }}
                                                            <input type="submit" name="submit" class="btn btn-warning" value="Add" />
                                                    </dd>
                                                </dl>
                                            </form>
				</div> <!-- /widget-content -->
                            </div> <!-- /widget -->
                        </div>                        
                    </div> 
                </div> 
            </div> 
             
            
              <div class="extra">
                    <div class="container">
                            <div class="row">			
                                    <div class="span3">				
                                            <h4>My immo</h4>				
                                            <ul>
                                                    <li><a href="{{ path('realestate') }}">See my real estate</a></li>
                                                    <li><a href="{{ path('add') }}">Add real estate</a></li>
                                            </ul>				
                                    </div> <!-- /span3 -->

                                    <div class="span3">				
                                            <h4>My profile</h4>				
                                            <ul>
                                                    <li><a href="{{ path('profile') }}">See my profile</a></li>
                                                    <li><a href="{{ path('profileEdit') }}">Edit my profile</a></li>
                                            </ul>				
                                    </div> <!-- /span3 -->

                                    <div class="span3">				
                                            <h4>Logout</h4>				
                                            <ul>
                                                    <li><a href="{{ path('logout') }}" onclick="return confirm('Are you sure you want to log out?')" >Goodbye</a></li>
                                            </ul>				
                                    </div> <!-- /span3 -->

                            </div> <!-- /row -->
                    </div> <!-- /container -->
            </div> <!-- /extra -->      
{% endblock %}
        