{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Admin' %}

{% block pageContent %}  
            <div class="subnavbar">  
                <div class="subnavbar-inner">  
                    <div class="container">  
			<a class="btn-subnavbar collapsed" data-toggle="collapse" data-target=".subnav-collapse">
				<i class="icon-reorder"></i>
			</a>

			<div class="subnav-collapse collapse">
				<ul class="mainnav">
					<li class="active">
						<a href="{{ path('realestate') }}browse?page=1">
							<i class="icon-home"></i>
							<span>Home</span>
						</a>	    				
					</li>
                                        <li>  
                                                <a href="{{ path('add') }}">
                                                        <i class="icon-plus"></i>
                                                        <span>Add immo</span>
                                                </a>     
                                        </li> 
                                        <li>  
                                                <a href="{{ path('profile') }}">
                                                        <i class="icon-user"></i>
                                                        <span>Profile</span>
                                                </a>     
                                        </li> 
                                        <li>  
                                                <a href="{{ path('logout') }}" onclick="return confirm('Are you sure you want to log out?')" >
                                                        <i class="icon-signout "></i>
                                                        <span>Logout</span>
                                                </a>     
                                        </li> 
                                </ul>   
                                 <ul class="subnav pull-right" style="color: white;">			
                                    <i class="icon-user"></i>  <strong>{{ user|capitalize }}</strong>                                          
                                </ul> 
                                
                        </div> 
                            
                    </div>     
                </div>     
            </div>     
                
                        
            
            
            <div class="main">
                <div class="container">
                    <div class="row">      	
                        <div class="span12">      		
                            <div class="widget stacked">					
				<div class="widget-header">
					<i class="icon-list "></i>
					<h3>{{ property.Name }}</h3>
				</div> <!-- /widget-header -->
				
				<div class="widget-content">
					<p class="alert lead alert-error">This item was succesfully deleted.</p>
					<p class="alert lead">Redirect in 5 seconds.</p>
                                        
                                        
						
				</div> <!-- /widget-content -->
                            </div> <!-- /widget -->
                        </div>                        
                    </div> 
                </div> 
            </div> 

{% endblock %}
        