{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Admin' %}

{% block pageContent %}  
            <div class="subnavbar">  
                <div class="subnavbar-inner">  
                    <div class="container">  
			<a class="btn-subnavbar collapsed" data-toggle="collapse" data-target=".subnav-collapse">
				<i class="icon-reorder"></i>
			</a>

			<div class="subnav-collapse collapse">
				<ul class="mainnav">
					<li class="active">
						<a href="{{ path('realestate') }}browse?page=1">
							<i class="icon-home"></i>
							<span>Home</span>
						</a>	    				
					</li>
                                        <li>  
                                                <a href="{{ path('add') }}">
                                                        <i class="icon-plus"></i>
                                                        <span>Add immo</span>
                                                </a>     
                                        </li> 
                                        <li>  
                                                <a href="{{ path('profile') }}">
                                                        <i class="icon-user"></i>
                                                        <span>Profile</span>
                                                </a>     
                                        </li> 
                                        <li>  
                                                <a href="{{ path('logout') }}" onclick="return confirm('Are you sure you want to log out?')" >
                                                        <i class="icon-signout "></i>
                                                        <span>Logout</span>
                                                </a>     
                                        </li> 
                                </ul>   
                                 <ul class="subnav pull-right" style="color: white;">			
                                    <i class="icon-user"></i>  <strong>{{ user|capitalize }}</strong>                                          
                                </ul> 
                                
                        </div> 
                            
                    </div>     
                </div>     
            </div>     
                
                        
            
            
            <div class="main">
                <div class="container">
                    <div class="row">      	
                        <div class="span12">      		
                            <div class="widget stacked">					
				<div class="widget-header">
					<i class=" icon-zoom-in "></i>
					<h3>Details</h3>
				</div> <!-- /widget-header -->
				
				<div class="widget-content">	
                                        {% if property %}
                                            <h2><a href="{{ path('realestate') }}details?id={{ property.id }}">{{ property.Name }}</a></h2>  
                                                <div class="rightFloat">  
                                                    <a href="{{ path('realestate') }}edit?id={{ property.id }}" class="btn btn-small">
                                                            <i class="btn-icon-only icon-edit"></i>Edit									
                                                    </a>
                                                    <a href="#" id="{{ property.id }}" data-toggle="modal" class="btn btn-small confirm-delete">
                                                            <i class="btn-icon-only icon-remove"></i>Delete									
                                                    </a>   
                                                </div>    
                                            
                                                <div id="main_area">
                                                    <!-- Slider -->
                                                    <div class="row">
                                                            <div class="span12" id="slider">
                                                                    <!-- Top part of the slider -->
                                                                    <div class="row">                                            
                                                                            <div class="span3" id="carousel-text"></div>
                                                                            <div class="span6" id="carousel-bounding-box">
                                                                                    <div id="myCarousel" class="carousel slide">
                                                                                            <!-- Carousel items -->
                                                                                            <div class="carousel-inner">
                                                                                                    <div class="active item" data-slide-number="0"><img src="{{ app.request.baseUrl }}/img/immo/{{ property.id }}/{{ imgAr|first }}" /></div>
                                                                                                   {% for image in imgAr[1:] %}                                                  
                                                                                                <div class="item" data-slide-number="3"><img src="{{ app.request.baseUrl }}/img/immo/{{ property.id }}/{{ image }}" /></div>
                                                                                            {% endfor %}
                                                                                            </div>
                                                                                            <!-- Carousel nav -->
                                                                                            <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
                                                                                            <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
                                                                                    </div>
                                                                            </div>
                                                                            <div class="span3" id="carousel-text">
                                                                                <p class="date">Posted on : {{ property.Date_posted }}</p>
                                                                                <p class="date">Available on : {{ property.Date_available }}</p>
                                                                                <p>{% if property.State == 'Rent' %} Rent this place for only{% endif %}{% if property.State == 'Sale' %} Buy this place!{% endif %} <span class="price">{{ property.Price }}</span></p> 
                                                                            </div>
                                                                    </div>
                                                            </div>
                                                        </div> <!--/Slider--> 
                                                </div>     
                                            
                                            
                                             <div class="row extraTop extraBot">
                                                    <div class="span12" id="slider">
                                                            <!-- Top part of the slider -->
                                                            <div class="row">                                            
                                                                    <div class="span3" id="carousel-text"></div>
                                                                    <div class="span6" id="carousel-bounding-box">
                                                                        <p>{{ property.Description|raw  }}</p>
                                                                    </div>
                                                                    <div class="span3" id="carousel-text">
                                                                        <p>Buildyear: {{ property.Buildyear }}</p>                                                                                                               

                                                                       <p>{{ property.Bedrooms }} bedrooms</p> 
                                                                       <p>Size : {{ property.Size }} m²</p> 
                                                                    </div>
                                                            </div>
                                                    </div>
                                             </div> <!--/Slider--> 
                                             
                                             
                                            <div class="row extraBot">
                                                    <div class="span12" id="slider">
                                                            <!-- Top part of the slider -->
                                                            <div class="row">                                            
                                                                    <div class="span3" id="carousel-text"></div>
                                                                    <div class="span6" id="carousel-bounding-box">
                                                                        <div id="map-canvas"></div>
                                                                    </div>
                                                                    <div class="span3" id="carousel-text">
                                                                        <div class="info">                                                                       
                                                                           <div id="address" class="clearfix">
                                                                               <p id="street">{{ property.Location_street|raw }}</p>   
                                                                               <p id="city">{{ property.Location_City|raw }}</p>
                                                                               <p id="country">Belgium</p>  
                                                                            </div> 
                                                                       </div>
                                                                    </div>
                                                            </div>
                                                    </div>
                                               </div> <!--/Slider--> 
                                                        
                                                        
                                     
                                    
                                                        
                                        {% else %}          
                                            <p>No real estate to show!</p>
                                        {% endif %}
                                            
                                        
                                        
				</div> <!-- /widget-content -->
                            </div> <!-- /widget -->
                        </div>                        
                    </div> 
                </div> 
            </div> 
                   
<div class="modal fade" id="delete_popup">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>Are you sure?</h3>
    </div>
    <div class="modal-body">
        <p>You are about to delete this item</p
        <p>Do you wish to proceed?</p>
    </div>
    <div class="modal-footer">       
        <a href="{{ path('realestate') }}browse?page=1" class="btn" data-dismiss="modal">No, take me back.</a>
        <a href="{{ path('realestate') }}delete?id=" class="btn btn-warning"  data-dismiss="modal">Yes, proceed.</a>                
    </div>
</div>
            
                
{% endblock %}
        