{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Admin' %}

{% block pageContent %}  
            <div class="subnavbar">  
                <div class="subnavbar-inner">  
                    <div class="container">  
			<a class="btn-subnavbar collapsed" data-toggle="collapse" data-target=".subnav-collapse">
				<i class="icon-reorder"></i>
			</a>

			<div class="subnav-collapse collapse">
				<ul class="mainnav">
					<li class="active">
						<a href="{{ path('realestate') }}browse?page=1">
							<i class="icon-home"></i>
							<span>Home</span>
						</a>	    				
					</li>
                                        <li>  
                                                <a href="{{ path('add') }}">
                                                        <i class="icon-plus"></i>
                                                        <span>Add immo</span>
                                                </a>     
                                        </li> 
                                        <li>  
                                                <a href="{{ path('profile') }}">
                                                        <i class="icon-user"></i>
                                                        <span>Profile</span>
                                                </a>     
                                        </li> 
                                        <li>  
                                                <a href="{{ path('logout') }}" onclick="return confirm('Are you sure you want to log out?')" >
                                                        <i class="icon-signout "></i>
                                                        <span>Logout</span>
                                                </a>     
                                        </li> 
                                </ul>   
                                 <ul class="subnav pull-right" style="color: white;">			
                                     <i class="icon-user"></i><strong>{{ user|capitalize }}</strong>                                       
                                </ul> 
                                
                        </div> 
                            
                    </div>     
                </div>     
            </div>     
                
                        
            
            
            <div class="main">
                <div class="container">
                    <div class="row">      	
                        <div class="span9">      		
                            <div class="widget stacked">					
				<div class="widget-header">
					<i class="icon-list "></i>
					<h3>My real estate</h3>
				</div> <!-- /widget-header -->
				
				<div class="widget-content">
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>Name</th>
								<th>Type</th>
								<th>Price</th>
								<th>City</th>
								<th class="td-actions"></th>
							</tr>
						</thead>
						<tbody>
							{% if realestates %}
                                                            {% for realestate in realestates %}
                                                                    <tr>
                                                                        <td>{{ realestate.Name }}</td>
                                                                        <td>{{ realestate.Type }}</td>
                                                                        <td>{{ realestate.Price }}</td>
                                                                        <td>{{ realestate.Location_City[4:] }}</td>
                                                                        <td class="td-actions">
                                                                                <a href="{{ path('realestate') }}details?id={{ realestate.id }}" class="btn btn-small">
                                                                                        <i class="btn-icon-only  icon-zoom-in"></i>View									
                                                                                </a>
                                                                            
                                                                                <a href="{{ path('realestate') }}edit?id={{ realestate.id }}" class="btn btn-small">
                                                                                        <i class="btn-icon-only icon-edit"></i>Edit									
                                                                                </a>

                                                                                <a  href="#" id="{{ realestate.id }}" data-toggle="modal" class="btn btn-small confirm-delete">
                                                                                        <i class="btn-icon-only icon-remove"></i>Delete									
                                                                                </a>
                                                                        </td>
                                                                    </tr>
                                                            {% endfor %}
                                                        {% else %}          
                                                            <p class="alert alert-error">No real estate to show!</p>
                                                        {% endif %}
                                                        {% if deleted != null %}          
                                                            <p class="alert alert-success">" {{ deleted }} "  was succesfully deleted!</p>
                                                        {% endif %}
                                                        {% if added != null %}          
                                                            <p class="alert alert-success">" {{ added }} "  was succesfully added!</p>
                                                        {% endif %}
                                                        {% if edited != null %}          
                                                            <p class="alert alert-success">" {{ edited }} "  was succesfully edited!</p>
                                                        {% endif %}
                                                        {% if wrong != null %}          
                                                            <p class="alert alert-error">{{ wrong }}!</p>
                                                        {% endif %}
						</tbody>                                               
					</table>
                                        
                                         <ul class="pager">
                                                    <li><a href="{{ path('browse') }}?page=1" {% if page == 1 %}class="disable"{% endif %}>First</a></li>
                                                    <li><a href="{{ path('browse') }}?page={{ previous }}" {% if previous == 0 %}class="disable"{% endif %}  >Previous</a></li>
                                                    {% for i in 1..pageCount %}                    
                                                                <li><a href="{{ path('browse') }}?page={{ i }}" {% if page == i %}class="active"{% endif %}>{{ i }}</a></li>
                                                   {% endfor %}
                                                    <li><a href="{{ path('browse') }}?page={{ next }}" {% if next == pageCount+1 %} class="disable" {% endif %} >Next</a></li>
                                                    <li><a href="{{ path('browse') }}?page={{ pageCount }}" {% if page == pageCount %}class="disable"{% endif %}>Last</a></li>
                                         </ul>
                                        
				</div> <!-- /widget-content -->
                            </div> <!-- /widget -->
                        </div>
                        <div class="span3">      		
                            <div class="widget stacked">					
				<div class="widget-header">
					<i class="icon-search  "></i>
					<h3>Filter</h3>
				</div> <!-- /widget-header -->
				
				<div class="widget-content">
                                    <form class="navbar-search pull-right">
                                    </form>  
                                        <form action="#" method="post" {{ form_enctype(searchform) }} novalidate="novalidate">
                                            <dl class="clearfix">
                                                                                                
                                                 <dt>
                                                        {{ form_label(searchform.searchItem) }}
                                                </dt>
                                                <dd>
                                                        {{ form_widget(searchform.searchItem , { 'attr': {'class': 'searchCustom'} }) }}
                                                        {{ form_errors(searchform.searchItem) }}                                                      
                                                </dd>
                                                <dt class="extraTop">
                                                        {{ form_label(searchform.available) }}
                                                        {{ form_widget(searchform.available) }}
                                                        {{ form_errors(searchform.available) }}  
                                                </dt>
                                                 <dt class="extraTop">
                                                        {{ form_label(searchform.offer) }}
                                                        {{ form_widget(searchform.offer) }}
                                                        {{ form_errors(searchform.offer) }}  
                                                </dt>
                                                <dt>
                                                        &nbsp;
                                                </dt>
                                                <dd>
                                                        {{ form_widget(searchform._token) }}
                                                        <input class="btn btn-small btn-warning" type="submit" name="submit" value="Search!" />
                                                        <input class="btn btn-small extraLeft" type="submit" name="reset" value="Reset filter" />
                                                </dd>
                                            </dl>
                                        </form>
				</div> <!-- /widget-content -->
                            </div> <!-- /widget -->
                        </div>
                    </div> 
                </div> 
            </div> 
            

             
<div class="modal fade" id="delete_popup">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>Are you sure?</h3>
    </div>
    <div class="modal-body">
        <p>You are about to delete this item</p>
        <p>Do you wish to proceed?</p>
    </div>
    <div class="modal-footer">       
        <a href="{{ path('realestate') }}browse?page=1" class="btn" data-dismiss="modal">No, take me back.</a>
        <a href="{{ path('realestate') }}delete?id=" class="btn btn-warning"  data-dismiss="modal">Yes, proceed.</a>                
    </div>
</div>                       
{% endblock %}
        