{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Admin' %}

{% block pageContent %}
        <div id="AdminMain" class="clearfix">    
            <p>Welcome <strong>{{ user|capitalize }}</strong></p>
                        
            <div id="AdminLeftBar" class="clearfix">  
                <h2><a href="{{ path('admin') }}" class="active">Board</a></h2> 
                <h2><a href="{{ path('internships') }}">Internships</a></h2>     
                <h2><a href="{{ path('addInternship') }}">Add internship</a></h2>  
                <h2><a href="{{ path('profile') }}">Profile</a></h2> 
                <h2><a href="{{ path('logout') }}">Logout</a></h2>    
            </div> 
            
            <div id="AdminRightBar" class="clearfix">
                <h2><a href="{{ path('board') }}">Dashboard</a></h2>  
                                                                                   
                <h3>Fill in some extra data</h3>  
                
                {% if profile %}
                        <form action="#" method="post" {{ form_enctype(dashform) }} novalidate="novalidate">
                            <dl class="clearfix">
                                 <dt>
                                        {{ form_label(dashform.contact_name) }}
                                </dt>
                                <dd>
                                        {{ form_widget(dashform.contact_name) }}
                                        {{ form_errors(dashform.contact_name) }}
                                </dd>
                                 <dt>
                                        {{ form_label(dashform.description) }}
                                </dt>
                                <dd>
                                        {{ form_widget(dashform.description) }}
                                        {{ form_errors(dashform.description) }}
                                </dd>
                                <dt>
                                <dt>
                                        {{ form_label(dashform.tel) }}
                                </dt>
                                <dd>
                                        {{ form_widget(dashform.tel) }}
                                        {{ form_errors(dashform.tel) }}
                                </dd>
                                 <dt>
                                        {{ form_label(dashform.web) }}
                                </dt>
                                <dd>
                                        {{ form_widget(dashform.web) }}
                                        {{ form_errors(dashform.web) }}
                                </dd>
                                <dt>
                                <dt>
                                        {{ form_label(dashform.address_street) }}
                                </dt>
                                <dd>
                                        {{ form_widget(dashform.address_street) }}
                                        {{ form_errors(dashform.address_street) }}
                                </dd>
                                 <dt>
                                        {{ form_label(dashform.address_city) }}
                                </dt>
                                <dd>
                                        {{ form_widget(dashform.address_city) }}
                                        {{ form_errors(dashform.address_city) }}
                                </dd>
                                 <dt>
                                        {{ form_label(dashform.address_country) }}
                                </dt>
                                <dd>
                                        {{ form_widget(dashform.address_country) }}
                                        {{ form_errors(dashform.address_country) }}
                                </dd>
                                <dt>
                                <dt>
                                        &nbsp;
                                </dt>
                                <dd>
                                        {{ form_widget(dashform._token) }}
                                        <input type="submit" name="submit" class="btn" value="update data" />
                                </dd>
                            </dl>
                        </form>  
		{% else %}          
                    <p>No info to show!</p>
		{% endif %}    
                                
                
                
            </div>   
            
            
        </div>         
{% endblock %}
        