<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="oldie ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="oldie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="oldie ie8" lang="en"><![endif]-->
<!--[if IE 9 ]><html class="ie9" lang="en"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>

	<title>{{ pageTitle|raw }}</title>

	<meta charset="UTF-8" />	
        <link rel="icon" href="{{ app.request.baseUrl }}/img/icon.jpg" />   
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">    
        <link href="{{ app.request.baseUrl }}/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ app.request.baseUrl }}/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
        <link href="{{ app.request.baseUrl }}/css/font-awesome.min.css" rel="stylesheet">        
        <link href="{{ app.request.baseUrl }}/css/base-admin-2.css" rel="stylesheet">
        <link href="{{ app.request.baseUrl }}/css/base-admin-2-responsive.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link href="{{ app.request.baseUrl }}/css/custom.css" rel="stylesheet">
        
</head>
<body>

	<div class="wrapper">
            
                <div class="navbar navbar-inverse navbar-fixed-top">
                    <div class="navbar-inner">
                        <div class="container">                        
                            <header>
                                <a class="brand" href="{{ app.request.baseUrl }}/admin">ImmoSite!</a>
                            </header>
                        </div>
                    </div>
                </div>
            
		<!-- content -->
                <section class="bodySection clearfix">

			{% block pageContent %}
				Hello!
			{% endblock %}

		</section>
                	
                <div class="extra">
                        <div class="container">
                                <div class="row">			
                                        <div class="span3">				
                                                <h4>My immo</h4>				
                                                <ul>
                                                        <li><a href="{{ path('realestate') }}">See my real estate</a></li>
                                                        <li><a href="{{ path('add') }}">Add real estate</a></li>
                                                </ul>				
                                        </div> <!-- /span3 -->

                                        <div class="span3">				
                                                <h4>My profile</h4>				
                                                <ul>
                                                        <li><a href="{{ path('profile') }}">See my profile</a></li>
                                                        <li><a href="{{ path('profileEdit') }}">Edit my profile</a></li>
                                                </ul>				
                                        </div> <!-- /span3 -->

                                        <div class="span3">				
                                                <h4>Logout</h4>				
                                                <ul>
                                                        <li><a href="{{ path('logout') }}" onclick="return confirm('Are you sure you want to log out?')" >Goodbye</a></li>
                                                </ul>				
                                        </div> <!-- /span3 -->

                                </div> <!-- /row -->
                        </div> <!-- /container -->
                </div> <!-- /extra -->     
                <div class="footer">  	
                    <div class="container">		
                            <div class="row">			
                                    <div id="footer-copyright" class="span6">
                                            &copy;Debbaut Sara
                                    </div> <!-- /span6 -->			
                                    <div id="footer-terms" class="span6">
                                            2013 &mdash; saradebbaut.ikdoeict.be
                                    </div> <!-- /.span6 -->			
                            </div> <!-- /row -->		
                    </div> <!-- /container -->	
            </div> <!-- /footer -->
        </div>
    
        
    
    
        
        

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>              
        <script src="{{ app.request.baseUrl }}/js/jquery.js"></script>     
        <script src="{{ app.request.baseUrl }}/js/jquery-ui-1.10.0.custom.min.js"></script>
        <script src="{{ app.request.baseUrl }}/js/bootstrap.min.js"></script>
        <script src="{{ app.request.baseUrl }}/js/bootstrap-modal.js"></script>
        <script src="{{ app.request.baseUrl }}/js/bootstrap-modalmanager.js"></script>
        
        
        <script src="{{ app.request.baseUrl }}/js/page.js"></script>

        <script src="{{ app.request.baseUrl }}/js/jquery.flot.js"></script>
        <script src="{{ app.request.baseUrl }}/js/jquery.flot.pie.js"></script>
        <script src="{{ app.request.baseUrl }}/js/jquery.flot.resize.js"></script>

        <script src="{{ app.request.baseUrl }}/js/Application.js"></script>

        <script src="{{ app.request.baseUrl }}/js/area.js"></script>
        <script src="{{ app.request.baseUrl }}/js/donut.js"></script>
        
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=false"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAB1TQrqCFa5sSxc9275qiRALWUPJa-SzI&sensor=true"></script>        
        <script src="{{ app.request.baseUrl }}/js/gmap3-master/gmap3.js"></script>    
        
        <script type="text/javascript" src="{{ app.request.baseUrl }}/js/tinymce/tinymce.min.js"></script>
        <script type="text/javascript">
        tinymce.init({
            selector: "textarea.tinymce",            
            
                
         });
         
        function LogoutPopup(){
            alert("You will logout in 3 seconds.");
        }
        </script>
        
        
        <a id="back-to-top" href="#top" style="display: none;">            
            <i class="icon-chevron-up"></i>
        </a>

</body>
</html>