{# extend the parent tpl #}
{% extends 'publicLayout.twig' %}
    
{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'ERROR' %}

{% block pageContent %}
        <div id="Main" class="clearfix">             
            
            <div id="LeftBar" class="clearfix">    
                <h2><a href="{{ path('contact.view') }}">Contact</a></h2> 
                <h2><a href="{{ app.request.getBaseURL() }}/companies/browse?page=1">Companies</a></h2>  
                <h2><a href="{{ app.request.getBaseURL() }}/internships/browse?page=1">Internships</a></h2>  
                <h2><a href="{{ path('home.view') }}">Home</a></h2> 
            </div> 
            
           
            <div id="RightBar" class="clearfix">
                    <div class="Slogan" style="margin-top: -75px;">
                        <p><a href="{{ path('home.view') }}">Home</a> > 404 - File Not Found</p>   
                    </div>           
                    <p>{{ error }}</p>
                                   
            </div>   
            
            
        </div>         
{% endblock %}
        